input_videos/evaluation_1.mp4
input_videos/evaluation_2.mp4
input_videos/evaluation_3.mp4
input_videos/evaluation_4.mp4
input_videos/evaluation_5.mp4
input_videos/evaluation_6.mp4
input_videos/evaluation_7.mp4
input_videos/evaluation_8.mp4
input_videos/evaluation_9.mp4
input_videos/evaluation_10.mp4
output_videos/evaluation_1_tracked.mp4
__pycache__/augment_frame.cpython-311.pyc
__pycache__/distance_calculation.cpython-311.pyc
